/* 
COLORS
#1E2124
#009DF8
#F2FAFF
#243848

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
section{
  background-color: #1E2124;
}
.section-scroll{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E2124;
  scroll-snap-align: start;
  width:100%;
  overflow-x: hidden;
}
.scroll{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

html {
  /* font-size: 10px; */
  /* Percentage of user's browser font-size setting */
  margin-top: 0;
  padding-top: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  height:100%;
  /* Does not work on Safari */
  /*scroll-behavior: smooth;*/
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  margin-top: 0;
  padding-top: 0;
  /* Only works if there is nothing absolutely positioned in relation to body */
  /*overflow-x: hidden;*/
}
.container {
  /* or 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}